{% extends 'dashboard/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<body class="hold-transition sidebar-mini layout-fixed">
 <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
        <h1>All Users</h1>
    
        <!-- Search form -->
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Search">
        </div>
    
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>User ID</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Customer</th>
              <th>Admin</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users  %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>

              {% if user.is_customer %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}

              {% if user.is_admin %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}
              <td>
                <a href="{% url 'delete_user' user.id %}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            {% endfor %}
            <!-- Add more rows here -->
          </tbody>
        </table>
      </div>
  </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  <!-- /.control-sidebar -->
  
 </div>
</body>
</html>
{% endblock %}
<!-- ./wrapper -->

<!-- jQuery -->



