{% extends 'dashboard/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<body class="hold-transition sidebar-mini layout-fixed">
 <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
        <h1>Foods</h1>
    
        <!-- Search form -->
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Search">
        </div>
          <a href="{% url 'add_food' %}">
          <button type="button" class="btn btn-block btn-primary">
            <i class="fas fa-plus"></i> Add Food Items
          </button>
          </a>
        
    
        <!-- Table -->
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>image</th>
              <th>Price</th>
              <th>Descriptions</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in foods  %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.item_name}}</td>
              <td> <a href="#"><img class="img-fluid img-thumbnail" style="max-width: 100px; max-height: 100px;" src="{{item.item_img.url}}"></a></td>
              <td>{{item.item_price}}</td>
              <td>{{item.item_description}}</td>
              <td>
                <a href="{% url 'update_food' item.id %}" class="btn btn-primary btn-sm">Update</a>
                <a href="{% url 'delete_food' item.id %}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            {% endfor %}
            <!-- Add more rows here -->
          </tbody>
        </table>
      </div>
  </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  <!-- /.control-sidebar -->
  
 </div>
</body>
</html>
{% endblock %}
<!-- ./wrapper -->

<!-- jQuery -->



