{% extends 'dashboard/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<body class="hold-transition sidebar-mini layout-fixed">
 <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
        <h1>Update Food Menu</h1>
        <section class="content">
            <div class="container-fluid">
              <!-- SELECT2 EXAMPLE -->
              <div class="card card-default">
                <div class="card-body">
               <form action="#"  method ="post"  enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Update Name</label>
                        <input class="form-control select2" name='name' required value={{foods.item_name}} style="width: 100%;">
                        </input>
                      </div>
                      <!-- /.form-group -->
                      <div class="form-group">
                        <label> Update Price</label>
                        <input class="form-control select2" name = 'price' value={{foods.item_price}} required style="width: 100%;"></input>
                        <input class="form-control select2" hidden name = 'food_id' value={{foods.id}} style="width: 100%;"></input>
                      
                      </div>
                     
                      <!-- /.form-group -->
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="imageUpload">Update Image</label>
                            <input type="file" class="form-control select2" name='image' required style="width: 100%;" id="imageUpload" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="description">Descriptions</label>
                            <textarea class="form-control select2" name="description" required style="width: 100%;" id="description">{{foods.item_description}} </textarea>
                        </div> 
                    </div>
                  </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>

                </div>
                </div>
              </div>
            </div>
        </section>
      </div>
  </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  <!-- /.control-sidebar -->
  
 </div>
</body>
</html>
{% endblock %}
<!-- ./wrapper -->

<!-- jQuery -->



