{% extends 'dashboard/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<body class="hold-transition sidebar-mini layout-fixed">
 <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
        <h1>Orders</h1>
    
        <!-- Search form -->
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Search">
        </div>
    
        <!-- Table -->
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Room</th>
              <th>Image</th>
              <th>Room No</th>
              <th>Guest</th>
              <th>Price</th>
              <th>In Date</th>
              <th>Out Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders  %}
            <tr>
              <td>{{order.room.room_name}}</td>
              <td> <a href="#"><img class="img-fluid img-thumbnail" style="max-width: 100px; max-height: 100px;" src="{{order.room.room_image.url}}"></a></td>
              <td>{{order.booked_room_number}}</td>
              <td>{{order.guest_name}}</td>
              <td>{{order.booking_price}}</td>
              <td>{{order.check_in_date}}</td>
              <td>{{order.check_out_date}}</td>
              <td>
                <a href="{% url 'delete_order' order.id %}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            {% endfor %}
            <!-- Add more rows here -->
          </tbody>
        </table>
      </div>
  </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  <!-- /.control-sidebar -->
  
 </div>
</body>
</html>
{% endblock %}
<!-- ./wrapper -->

<!-- jQuery -->



